<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="a.css">
    <title>Welcome</title>
</head>
<body>
    
    <h1 class="header">DR. J.J.MAGDUM COLLEGE OF ENGINEERING</h1>
    <h2 class="header1"> Your Dream, Our Mission</h2>
    <p class="subtitle">"Welcome to the JJMCOE Alumni Portal."</p>
    <div class="mainPage">
        <div class="button0">
            <button type="button" class="new"><a href="/register">New user</a></button>
        </div>
        <div class="button0">
            <button type="button" class="new" ><a href="/loginpage">Already Exist</a></button>
        </div>
        <div class="button0">
            <button type="button" class="new"><a href="/allalumni">Alumni Data</a></button>
        </div>
        <div class="button0">
            <button type="button" class="new"><a href="/mail">Send Mail</a></button>
          </div>
        
        <div class="button0">
            <button type="button" class="new"><a href="/alljob">Get Job Posting Summery</a></button>
          </div>
        
        <div class="button0">
            <button type="button" class="new"><a href="/alldonation">Get Donation Summery</a></button>
         </div>
        <div class="button0">
            <button type="button" class="new"><a href="/allfeedback">Get Feedback Summery</a></button>
        </div>
        </div>
    

</body>
</html>